@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #5A1B4C;
  --color-primary-100: #8f6191;
  --color-secondary: #fff;
  --color-accent: #1A1C23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden;
  font-variation-settings:
    "wdth" 100;
}

.animate-float-slow {
  animation: float-slow 2s ease-in-out infinite;
}
.animate-float-slower {
  animation: float-slower 3s ease-in-out infinite;
}

.custom-backdrop {
  backdrop-filter: blur(20px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.05); /* translucent white */
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(16px); /* frosted glass */
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); /* deep shadow */
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.glassmorphism::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.1)
  );
  z-index: 0;
}

.glassmorphism * {
  position: relative;
  z-index: 1;
}


button {
  cursor: pointer;
}

@keyframes float-slow {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-50px); }
}
@keyframes float-slower {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(45px); }
}
.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #fff;
  max-width: 0ch;
  animation: blink 0.75s step-end infinite;
}

.typing.start {
  animation: typing 3s steps(40, end) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  to {
    max-width: 40ch; 
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.glass {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.atm-page {
  background-image: url("https://img.freepik.com/free-vector/atm-machine-isolated-white-background_1308-101811.jpg?t=st=1746800652~exp=1746804252~hmac=3136e80e1d3b166c0eb2a38dd9c2b966a1bfd3584540a577a7618857e2cdb09e&w=740");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.d {
  background: radial-gradient(circle at 90% 85%, rgba(90, 27, 76,0.7) 0%, rgba(78, 22, 66, 0.2) 30%, transparent 70%);
  color: rgb(90, 27, 76);
}